venv
.idea
config.py

__pycache__/
*.py[cod]
*$py.class

env/
bin/
Lib/

.env

.idea/
.vscode/

/.venv
/pip-wheel-metadata

/dist/
/build/
*.egg-info/
*.egg/

*.pyc

*.pyo
*.pyd

.ipynb_checkpoints/

supremerent.db